page-login {
  text-align: center;
  
  banner_holder{
    width: 100%;
    position: relative;
  }

  .banner_holder img{
      width: 100%;
      height: 150px;;
  }

  .toolbar-background {
    background-color: #5CC9E0;
  } 

  .item-cover{
    left: initial;
    right: 0;
    width: 10%;
  } 
  
}
