page-buckets {
banner_holder{
    width: 100%;
    position: relative;
}

.banner_holder img{
    width: 100%;
    height: 100px;;
}

.toolbar-background {
    background-color: #5CC9E0;
} 

.row{
    margin-top: "0%";
    margin-bottom: "0%";
    margin: "0%";
}
}
