page-bucketinstruments {
banner_holder{
    width: 100%;
    position: relative;
}

.banner_holder img{
    width: 100%;
    height: 100px;;
}

.toolbar-background {
    background-color: #5CC9E0;
}

.bucketimg {
    margin-left: 30%;
    margin-top: -10%;
    opacity: 0.8;
    height: 40%;
    width: 40%;
}
}
