instrument-tile {
.card {
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: #FBFCFC;      
}

.cardtext {
    font-size: 1.0em;
    font-family: 'Advent Pro', sans-serif;
  }


.instimg {
    padding-bottom: 0px;
    width: 70%;
    height: 70%;
  }
}
